# Java
*.class
*.jar
*.war
*.ear

# Maven
target/
dependency-reduced-pom.xml
build.log
.mvn/
!src/main/resources/application.properties

# IntelliJ IDEA
.idea/*
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db